.App {
  padding:60px;
}

a { text-decoration: none !important; }

.leaderboards .ant-card-body {
  padding:0 !important;
}

.leaderboards .ant-table-cell {
  border-radius:0 !important;
}

.leaderboards .ant-table-cell:first-child {
  padding-left:24px !important;
}